body {
    margin: auto;
    background: #2e22223a;
    font-family: 'Open Sans', sans-serif;
    background:#eeeeee;
}

.info p {
    text-align:center;
    color: rgb(32, 30, 30);
    text-transform:none;
    font-weight:600;
    font-size:1.8rem;
    margin-top:2px
}

.info i {
    color:#F6AA93;
}
form h1 {
    font-size: 1.8rem;
    background: #F6AA93 none repeat scroll 0% 0%;
    color: rgb(255, 255, 255);
    padding: 22px 25px;
    border-radius: 5px 5px 0px 0px;
    margin: auto;
    text-shadow: none;
    text-align:left
}

form {
    border-radius: 5px;
    max-width:65%;
    width:100%;
    margin: 5% auto;
    background-color: #FFFFFF;
    overflow: hidden;
}

p span {
    color: #F00;
}

p {
    margin: 0px;
    font-weight: 500;
    line-height: 2;
    color:#333;
}

h1 {
    text-align:center;
    color: #666;
    text-shadow: 1px 1px 0px #FFF;
    margin:50px 0px 0px 0px
}

input,select {
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #eee;
    margin-bottom: 15px;
    width: 75%;
    height: 40px;
    float: left;
    padding: 0px 15px;
}

a {
    text-decoration:inherit
}

textarea {
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #EEE;
    margin: 0;
    width: 75%;
    height: 130px;
    float: left;
    padding: 0px 15px;
}

.form-group {
    overflow: hidden;
    clear: both;
}

.icon-case {
    width: 40px;
    float: left;
    border-radius: 5px 0px 0px 5px;
    background:#eeeeee;
    height:42px;
    position: relative;
    text-align: center;
    line-height:40px;
}

i {
    color:#555;
}

.contentform {
    padding: 40px 30px;
}

.bouton-contact{
    background-color: #81BDA4;
    color: #FFF;
    text-align: center;
    width: 100%;
    border:0;
    padding: 2rem 2rem;
    border-radius: 0px 0px 5px 5px;
    cursor: pointer;
    margin-top: 40px;
    font-size: 1.8rem;

}

.leftcontact {
    width:49.5%;
    float:left;
    border-right: 1px dotted #CCC;
    box-sizing: border-box;
    padding: 0px 15px 0px 0px;
}

.rightcontact {
    width:49.5%;
    float:right;
    box-sizing: border-box;
    padding: 0px 0px 0px 15px;


}

.validation {
    display:block;
    margin: 0 0 10px;
    font-weight:400;
    font-size:.9rem;
    color: #DE5959;
}

#sendmessage {
    border:1px solid #fff;
    display:none;
    text-align:center;
    margin:10px 0;
    font-weight:600;
    margin-bottom:30px;
    background-color: #EBF6E0;
    color: #5F9025;
    border: 1px solid #B3DC82;
    padding: 13px 40px 13px 18px;
    border-radius: 3px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.03);
}

#sendmessage.show,.show  {
    display:block;
}
.require::placeholder{
    color: rgba(131, 125, 125, 0.24);
}
#salaryValue{

    margin-top: 5px;
}
.reset, .reset2{
    grid-row: 1/2;
    grid-column: 2/-1;
    align-items: self-end;
    justify-content: center;
    width: 4.5rem;
    height :1.8rem;
    font-size :1.4rem;
    text-align :center;
    line-height:2rem;
    color :rgba(255,255,255,0.9);
    border-radius :50px;
    background-image: linear-gradient(-45deg, #FFA63D, #FF3D77, #338AFF, #3CF0C5);
    background-size :600%;
    animation :anime 16s linear infinite;


}
.reset2{
    position :absolute;
    margin-top: -70px;
    z-index :-1;
    filter: blur(30px);
    opacity :0.6;
}


@keyframes anime{
    0%{
        background-position :0% 50%  ;
    }

    50%{
        background-position :100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }

}

.contentJob{
    display: grid;
    grid-template-columns: minmax(10rem ,3fr) minmax(1rem,0.5fr);
    grid-template-rows: repeat(11,minmax(4rem ,15%));
    grid-gap: 1.4rem;
    font-family:"Comic Sans MS", cursive, sans-serif;

}

.contentJob :not(:first-child) {
    grid-column: 1/2;
    transition: ease-in-out 2s;

}
#mainTitle{
    grid-row: 2/3;
    text-align: center;
    border-bottom: 1px dot-dash deepskyblue;
}
#subTitle{
    grid-row: 3/4;
}
#title{
    grid-row: 4/5;
}
#company{
    grid-row: 5/6;
}
#description{
    grid-row: 6/7;
}
#requirements{
    grid-row: 7/8;
}
#salary{
    grid-row: 8/9;
}
#location{
    grid-row: 9/10;
}
#phone{
    grid-row: 10/11;
}
#email{
    grid-row: 11/-1;
}
.tracking-in-contract-bck{-webkit-animation:tracking-in-contract-bck 1s cubic-bezier(.895,.03,.685,.22) both;animation:tracking-in-contract-bck 1s cubic-bezier(.895,.03,.685,.22) both}
@-webkit-keyframes tracking-in-contract-bck{0%{letter-spacing:1em;-webkit-transform:translateZ(400px);transform:translateZ(400px);opacity:0}40%{opacity:.6}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}@keyframes tracking-in-contract-bck{0%{letter-spacing:1em;-webkit-transform:translateZ(400px);transform:translateZ(400px);opacity:0}40%{opacity:.6}100%{-webkit-transform:translateZ(0);transform:translateZ(0);opacity:1}}
