/** {*/
/*    box-sizing: border-box;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/**:focus {*/
/*    outline: 0;*/
/*}*/

/*html {*/
/*    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);*/
/*}*/

/*body {*/
/*    align-items: center;*/
/*    background-color: #f3f3f3;*/
/*    display: flex;*/
/*    font-family: 'Poppins', sans-serif;*/
/*    justify-content: center;*/
/*    min-height: 100vh;*/
/*}*/
.titre-content:after,
.titre-content:before{
    content:"";
    background-color: rgba(19, 149, 180, 0.54);
    position:absolute;
    top:0;
    bottom:0;
    width:100px;
    z-index:2000;
}
.titre-content:before{
    transform-origin : 0 0;
    left:0;
    transform : skew(0, 20deg);
}
.titre-content:after {
    transform-origin : 100% 0;
    transform : skew(0, 20deg);
    right:0;
}
.titre-content {
    transform : rotate(-2deg);
    position:relative;
    max-width:50%;
    font-size:1.2em;
    color:#fff;
    text-align:center;
    /* J'ai mis 50px au pif */
    margin :70px auto 50px auto;
    font-family : Verdana, Geneva, sans-serif;
}
.titre-content div {
    background-color: rgba(19, 149, 180, 0.54);
    position:relative;
    z-index:2000;
    padding:10px;
}
.titre-content h1,
.titre-content h2{
    padding:0;
    margin:0;
    transform : rotate(2deg);
    text-transform : uppercase;
}
.titre-content h1{
    font-size:1em;
    font-weight:normal;
}



.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5rem;
    position: relative;
    /*transform: skewY(-10deg);*/
    max-width:50%;

}

.container .card:before {
    height: 15px;
    left: 0;
    transform: skewX(45deg);
    transform-origin: bottom;
    width: 100%;
}

.container .card {
    background-color: #ffffff;
    height: 400px;
    margin: 3rem;
    position: relative;
    transition: transform 0.5s ease;
    width: 300px;
}

.container .card:nth-child(1) {
    z-index: 2000;
}

.container .card:nth-child(2) {
    z-index: 2000;
}

.container .card:nth-child(3) {
    z-index:2000;
}

.container .card:after {
    border-bottom: 200px solid #d9d9d9;
    height: 50%;
    left: -15px;
    transform: skewY(45deg);
    transform-origin: left;
    width: 15px;
}

/*.container .card:before,*/
/*.container .card:after {*/
/*    background-color: rgba(61, 161, 173, 0.4);*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: -15px;*/
/*}*/

/*.container .card:hover,*/
/*.container .card:focus,*/
/*.container .card:active {*/
/*    transform: translateY(-40px);*/
/*}*/

.container .card .img-box {
    align-items: center;
    background-color: rgba(19, 149, 180, 0.54);
    border-radius: 0 0 50%;
    display: flex;
    height: 200px;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 300px;
}

.container .card .img-box img {
    max-width: 100px;
}

.container .card .img-box h3,h4 {
    color: #ffffff;
    margin-top: 10px;
    position: relative;
}

.container .card .content:before {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.1)
    );
    bottom: 0;
    content: '';
    height: 400px;
    left: 0;
    pointer-events: none;
    position: absolute;
    transform: skewX(45deg);
    transform-origin: bottom;
    transition: filter 0.5s ease,
    opacity 0.5s ease,
    transform 0.5s ease;
    width: 100%;
    z-index: 1;
}

/*.container .card:hover .content:before,*/
/*.container .card:focus .content:before,*/
/*.container .card:active .content:before {*/
/*    filter: blur(5px);*/
/*    opacity: 0.5;*/
/*    transform: translateY(40px) skewX(45deg);*/
/*}*/

.container .card .content {
    background-color: #ffffff;
    color: #777777;
    height: 200px;
    padding: 20px;
    position: relative;
    text-align: center;
    width: 100%;
}

#left-panel-link:first-child{
    background-color: rgba(61, 61, 54, 0.53);
   margin-bottom: 1rem;
    color: white;
}
#left-panel-link:last-child{
    background-color: rgba(61, 161, 173, 0.4);
}

.card-footer{
    display: flex;

    justify-content: space-evenly;
}
.blur-out-expand-fwd {
    font-size: 1.8rem;
    -webkit-animation: blur-out-expand-fwd 5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: blur-out-expand-fwd 7s cubic-bezier(0.250, 0.460, 0.450, 0.500) both;
}
.bounce-top{font-size: 1.8rem;-webkit-animation:bounce-top .9s both;animation:bounce-top .9s both}
@-webkit-keyframes blur-out-expand-fwd{0%{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-filter:blur(.01);filter:blur(.01)}100%{letter-spacing:1em;-webkit-transform:translateZ(300px);transform:translateZ(300px);-webkit-filter:blur(12px) opacity(0);filter:blur(12px) opacity(0)}}@keyframes blur-out-expand-fwd{0%{-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-filter:blur(.01);filter:blur(.01)}100%{letter-spacing:1em;-webkit-transform:translateZ(300px);transform:translateZ(300px);-webkit-filter:blur(12px) opacity(0);filter:blur(12px) opacity(0)}}
@-webkit-keyframes bounce-top{0%{-webkit-transform:translateY(-45px);transform:translateY(-45px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:1}24%{opacity:1}40%{-webkit-transform:translateY(-24px);transform:translateY(-24px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}65%{-webkit-transform:translateY(-12px);transform:translateY(-12px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}82%{-webkit-transform:translateY(-6px);transform:translateY(-6px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}93%{-webkit-transform:translateY(-4px);transform:translateY(-4px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}25%,55%,75%,87%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}100%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}}@keyframes bounce-top{0%{-webkit-transform:translateY(-45px);transform:translateY(-45px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:1}24%{opacity:1}40%{-webkit-transform:translateY(-24px);transform:translateY(-24px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}65%{-webkit-transform:translateY(-12px);transform:translateY(-12px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}82%{-webkit-transform:translateY(-6px);transform:translateY(-6px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}93%{-webkit-transform:translateY(-4px);transform:translateY(-4px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}25%,55%,75%,87%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}100%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}}
