.container{
    width: 100%;
    max-width: initial;
}
.red-text{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    letter-spacing: -0.6px;
    word-spacing: 3px;
    font-weight: 700;
    text-decoration: none;
    font-style: italic;
    font-variant: normal;
    text-transform: capitalize;
    font-size: 10rem;
    opacity: 0.8;
    line-height: 8rem;
}
img{
    z-index: 5;
    margin-top: -10rem;
}
label{
    font-size: 1.1rem;
}
.blinking {
    animation: blinker 0.5s linear infinite;
    padding-top:120px;
    margin-left: -60px;
    opacity: 0.8;
    text-align: center;
}
@keyframes blinker {
  50% { opacity: 0; }
}
